body {
  color: white;
  background-color: #1996da;
  font-family: Lato, Arial, sans-serif;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

p {
  font-size: 1.25rem;
  color: #dbdcdd;
}

section {
  padding: 3rem 0 2.5rem;
}

.features-heading {
  margin-bottom: 2rem;
}

.features-container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.feature {
  flex-basis: calc(100% / 3);
  margin: 0 1rem;
}

.icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

img {
  width: 50%;
}
