h2 {
  color: #EC5D57;
  font-family: "Brandon Grotesque", Arial, sans-serif;
}

body {
  text-align: center;
}

div {
  margin-bottom: 20px;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  font-family: "Brandon Grotesque", Arial, sans-serif;
  font-size: 12px;
  color: #2B2B2B;
  padding-left: 10px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

input::placeholder {
  color: #999;
}

.light-grey-background {
  background-color: #F3F3F3;
}

section:last-child {
  text-align: right;
}

button {
  font-family: AtlasGrotesk, Arial, sans-serif;
  border: none;
  border-radius: 20px;
  padding: 10px 5px;
  font-size: 15px;
  color: white;
  background-color: #EC5D57;
  cursor: pointer;
  width: 110px;
  justify-content: right;
  margin-top: 15px;
}
