.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
}

.column-full {
  flex-basis: calc(100% / 1);
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-thirds {
  flex-basis: calc((100% / 3) * 2);
}

img {
  max-width: 100%;
  height: auto;
}
